[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
faker = "*"
django-instant-rest = {editable = true,git = "https://github.com/zero-gravity-computer/django_instant_rest.git"}

[requires]
python_version = "3"
