[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
faker = "*"
django-instant-rest = {editable = true,git = "https://github.com/django-instant-rest/django-instant-rest"}
argon2-cffi = "*"

[requires]
python_version = "3"
